.login-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #fafafa;
  padding: 25vh 5vw;

  article {
    margin-bottom: 10rem;

    h1 {
      font-size: 2.5rem;
      margin-bottom: 2vw;
    }

    q {
      font-size: 2rem;
    }

  }

  .login-page-actions {
    padding: 0 5vw;

    button {
      background: none;
      box-shadow: 1px 1px 2px;
      width: 100%;
      padding: 10px;
      text-transform: capitalize;
      margin: 4rem 0;
      font-size: 2.5rem;
      border: 1px solid $black;
    }
  }
}
