.start-page {
  padding: 40% 10% 10%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: transparent url('../images/back.jpg') no-repeat 0 center / cover;
  }

  article {
    align-self: center;
    width: 71%;

    h1 {
      text-align: center;
      font-family: 'Josefin Sans', sans-serif;
      font-size: 25px;
      margin-bottom: 2vw;
      text-transform: uppercase;
    }
  }

  .actions {
    width: 80%;
    text-align: center;

    p {
      color: rgba(white, 0.45);
    }

    &-buttons {
      display: flex;
      justify-content: space-between;
      column-count: 2;
      column-gap: 10px;

      .button {
        padding: 10px;
        width: 50%;
        box-shadow: none;
        border-radius: 4px;
        display: inline-flex;
        justify-content: space-evenly;
        box-sizing: content-box;

        &:not(:first-child) {
          margin-left: 5px; /*  on all but the first column  */
        }

        &:not(:last-child) {
          margin-right: 5px; /*  on all but the last column  */
        }

        &.google {
          background: $google-color;
        }

        &.facebook {
          background: $facebook-color;
          opacity: .5;
        }

        img {
          height: 16px;
        }

        span {
          display: flex;
          align-self: center;
          margin: 2px 0 0 6px;
        }

      }
    }
  }

  .sign-up-link {
    color: rgba(white, .6);

    span {
      color: white;
    }
  }
}
