.video-dashboard {
  &.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
    overflow: scroll;
    align-content: flex-start;
  }

  .video-container {
    position: relative;
    width: 100%;
    height: 40%;
    background: url('../images/defaultthumbnail.jpg') center;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    display: flex;

    &.sports {
      background: url('../images/sportsthumbnail.jpg') no-repeat center center / cover;
    }

    &.health {
      background: url('../images/washy-washy.jpg') no-repeat center center / cover;
    }

    .title{
      position: absolute;
      bottom: 0;
      width: 100%;
      color: white;
      text-transform: uppercase;
      text-transform: uppercase;
      background: linear-gradient(to top, black 0, transparent 70%);
      padding: 10% 10% 3% 5%;
    }
  }
}
