// 50 shades of Greyscale
$black: #000;
$white: #fff;
$purple: #13002c;

$primary-color: #ff6a05;
$secondary-color: #f40080;
$mixed-color: #fb4c45;

$app-gradient: linear-gradient(135deg, $primary-color 10%, $secondary-color 100%);


$google-color: #f14436;
$facebook-color: #375b8d;
