@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=latin-ext');
@import './_reset.scss';
@import './variables.scss';
@import './components/_login.scss';
@import './components/_header.scss';
@import './components/_register.scss';
@import 'footer.scss';

*,
html {
  box-sizing: border-box;
}

#root,
#app,
html,
body {
  max-width: 100%;
  position: relative;
  font-size: 14px;
  margin: 0;
  font-family: Roboto, sans-serif;
  height: 100vh;
  overflow: hidden;
  position: relative;

}

.error {
  left: 0;
  position: ABSOLUTE;
  top: 0;
  width: 100%;
  text-align: center;
  padding: 6%;
  background: #f81111;
  color: white;
  transition-property: opacity;
  transition-duration: .5s;

  opacity: 0;
  &.is-visible{
    opacity: 1;
  }
}
